<div style="height: 100%;">
    <img id="pg-3-thought-face" src="{{BASE_URI}}images/page-3/thinking.png">
    <div id="pg-3-thought-cloud-container" style="display: flex; flex-direction: column; justify-content: flex-start;">
        <div id="pg-3-thought-cloud-1" class="p-3 mb-2 bg-light text-dark">
            <h3 style="font-size: 2vw;">Strange... he didn’t say much. He usually says something about any links he
                sends...
            </h3>
        </div>
        <div id="pg-3-thought-cloud-2" class="p-3 mb-2 bg-light text-dark">
            <h3 style="font-size: 2vw;">Oh... maybe he was in a rush! I'll just click it. I'm really curious!</h3>
        </div>
    </div>
    <img id="pg-3-pointing" src="{{BASE_URI}}images/page-3/pointing.png">
    <div id="pg-3-mobile-container">
        <div id="mobile-screen"></div>
        <img id="pg-3-mobile" src="{{BASE_URI}}images/page-2/mobile.png">
    </div>

</div>